@using LOT5RDB.Core
<div class="card">
    <div class="card-header">
        <span>Name: @Model.Name</span>
        <span>Skill: @Model.Skill</span>
        <span>Rarity: @Model.Rarity</span>
        <span>Price: @Model.Price</span>
    </div>
</div>